$bg-body: hsla(45, 100%, 99%, 80%);
$bg-card: hsla(45, 100%, 99%, 100%);

$blackish: hsl(0, 0%, 25%);
$greyish: hsl(243, 13%, 33%);
$light-grey: hsl(0, 0%, 71%);

$dark-shadow: hsla(0, 0%, 0%, 10%);
$shadow: hsla(0, 0%, 0%, 4%);
$light-shadow: hsla(0, 0%, 0%, 2%);

$white: hsl(0, 0%, 100%);
$green: hsla(112, 27%, 57%, 100%);
$alert: hsla(0, 100%, 76%, 100%);
$outline: hsla(177, 45%, 57%, 100%);
